.sidebar-component {
  background-color: #313133 !important;
  width: 300px !important;

  .wrapper {
    width: 100%;
    height: 100%;

    padding: 10px 10px 20%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .top {
      .head {
        margin-bottom: 35px;

        display: flex;
        justify-content: space-between;
        align-items: center;

        .cross {
          cursor: pointer;

          background-color: #ffffff;
          color: #313133;
          font-size: 22px;

          border-radius: 3px 3px 3px 3px;

          width: 52px;
          height: 52px;

          display: flex;
          justify-content: center;
          align-items: center;
          transition: all 0.3s ease-in-out;

          &:hover {
            color: #feb449;
          }
        }

        .profile {
          display: flex;
          align-items: center;

          color: #feb449;
          font-size: 16px;
          font-weight: 600;
          font-family: "Montserrat";

          .p_icon {
            font-size: 28px;
          }

          span {
            margin-left: 10px;
          }
        }
      }

      .text {
        cursor: pointer;

        margin-bottom: 35px;

        text-align: center;
        font-family: "Montserrat", Sans-serif;
        font-size: 16px;
        font-weight: 500;
        text-transform: uppercase;
        font-style: normal;
        text-decoration: none;
        color: #ffffff;

        transition: color 0.2s ease-in-out;

        &:hover {
          color: #bfbfbfad;
        }
      }
    }

    .bottom {
      .text {
        cursor: pointer;
        margin-top: 35px;

        text-align: center;
        font-family: "Montserrat", Sans-serif;
        font-size: 16px;
        font-weight: 500;
        text-transform: uppercase;
        font-style: normal;
        text-decoration: none;
        color: #ffffff;

        transition: color 0.2s ease-in-out;

        &:hover {
          color: #bfbfbfad;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .sidebar-component {
    .wrapper {
      .top {
        .head {
          .cross {
            font-size: 20px;

            width: 45px;
            height: 45px;
          }

          .profile {
            font-size: 15px;

            .p_icon {
              font-size: 26px;
            }
          }
        }

        .text {
          font-size: 15px;
        }
      }

      .bottom {
        .text {
          font-size: 15px;
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .sidebar-component {
    .wrapper {
      .top {
        .head {
          .cross {
            font-size: 18px;

            width: 40px;
            height: 40px;
          }

          .profile {
            font-size: 14px;

            .p_icon {
              font-size: 26px;
            }
          }
        }

        .text {
          font-size: 14px;
        }
      }

      .bottom {
        .text {
          font-size: 14px;
        }
      }
    }
  }
}
