.top-navbar-component {
  height: fit-content !important;
  .wrapper {
    .top {
      display: flex;
      justify-content: space-between;
      align-items: center;

      max-width: 1366px !important;
      margin: 0 auto !important;
      padding: 10px 25px !important;

      .left {
        width: 50px;
      }

      .logo {
        width: 160px;
        img {
          max-width: 100%;
          width: 100%;
        }
      }

      .cross {
        border-radius: 3px;
        border: 1px solid #313133;

        width: 50px;
        height: 50px;

        font-size: 26px;

        display: flex;
        justify-content: center;
        align-items: center;

        color: #feb449;
        fill: #feb449;
        border-color: #feb449;

        cursor: pointer;

        transition: 0.2s ease-in-out;
      }
    }

    .title {
      color: #313133;
      font-family: "Montserrat", Sans-serif;
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase;
      padding: 10px;
      text-align: center;
    }

    .search-filter {
      margin: 10px 20px 25px;
      display: flex;
      justify-content: center;

      input {
        width: 680px;
        outline: none;
        border: none;
        border-style: solid;
        border-color: #7a7a7a;
        border-width: 1px 0 1px 1px;
        border-radius: 10px 0px 0px 10px;

        font-family: "Roboto", Sans-serif;
        font-size: 15px;
        font-weight: 400;
        color: #7a7a7a;
        padding: 0.7em;
      }

      .icon {
        cursor: pointer;
        border-style: solid;
        border-color: #7a7a7a;
        border-width: 1px 1px 1px 0;
        border-radius: 0px 10px 10px 0px;

        width: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #5d5d5d;
        font-size: 18px;

        &:hover {
          color: #fff;
          background-color: #feb449;
          border-color: #feb449;
        }
      }
    }

    .carousel {
      max-width: 1339px;
      margin: auto;
      outline: none !important;
      margin-bottom: 40px;

      .single-item {
        cursor: pointer;
        display: flex !important;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
          width: 96px;
          height: 96px;
          transition: all 0.3s ease-in-out;
        }

        .text {
          text-align: center;
          width: 100px;
          margin-top: 20px;
          font-family: "Roboto";
          font-size: 0.9em;
          font-weight: 300;
        }
      }
    }

    .slick-dots {
      display: none !important;
    }

    .left-control,
    .right-control {
      position: absolute;
      top: 45%;
      cursor: pointer;
    }
    .left-control {
      left: 0;
      z-index: 3;
    }
    .right-control {
      right: 0;
    }
  }
}

@media screen and (max-width: 767px) {
  .top-navbar-component {
    .wrapper {
      .top {
        padding: 10px 20px !important;

        .left {
          width: 45px;
        }

        .logo {
          width: 140px;
        }

        .cross {
          width: 45px;
          height: 45px;

          font-size: 24px;
        }
      }

      .title {
        font-size: 15px;
      }

      .search-filter {
        margin: 10px 20px 25px;

        input {
          font-size: 14px;
          max-width: 100%;
        }

        .icon {
          min-width: 50px;
          font-size: 17px;
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .top-navbar-component {
    .wrapper {
      .top {
        padding: 10px 20px !important;

        .left {
          width: 40px;
        }

        .logo {
          width: 120px;
        }

        .cross {
          width: 40px;
          height: 40px;

          font-size: 20px;
        }
      }

      .title {
        font-size: 14px;
      }

      .search-filter {
        margin: 10px 20px 25px;

        input {
          font-size: 12px;
        }

        .icon {
          min-width: 40px;

          font-size: 16px;
        }
      }

      .carousel {
        .single-item {
          .text {
            font-size: 0.8em;
          }
        }
      }
    }
  }
}
